<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.FunAlgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreativeMode"/>
        <activity android:name=".FirstPage" />
        <activity android:name=".Level8Page" />
        <activity android:name=".Level7Page" />
        <activity android:name=".Level6Page" />
        <activity android:name=".Level5Page" />
        <activity android:name=".Level1Page" />
        <activity android:name=".Level3Page" />
        <activity android:name=".Level2Page" />
        <activity android:name=".LevelPage" />
        <activity android:name=".Level4Page" />
        <activity android:name=".PlayPage" />
        <activity android:name=".MusicsPage" />
        <activity android:name=".SettingsPage" />
        <activity android:name=".ThemePage" />
        <activity android:name=".HomePage" />
        <activity android:name=".AchievementsPage" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>